#AI-chatPopup {
    position: fixed;
    bottom: 5rem;
    right: 1.25rem;
    width: calc(100% - 2.5rem);
    max-width: 28rem;
    height: 80vh;
    max-height: 500px;
    background-color: #ffffff;
    border-radius: 0.75rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 40;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.AI-popup-hidden {
    opacity: 0;
    transform: scale(0.95) translateY(1rem);
    pointer-events: none;
}

#AI-chatHeader {
    background-color: #ffcc00;
    color: #ffffff;
    padding: 0.5rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

#AI-chatHeader h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Inter', sans-serif
}

.AI-iframe-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: #f9fafb;
}
#AI-copilotFrame {
    width: 100%;
    height: 100%;
    border: none;
}

#AI-chatToggleButton {
    position: fixed;
    bottom: 1.25rem;
    right: 1.25rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #ffcc00;
    color: #ffffff;
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    z-index: 50;
    transition: background-color 200ms ease-in-out;
}

#AI-chatToggleButton:hover {
    background-color: #756b44;
}

#AI-chatToggleButton svg {
    width: 1.75rem;
    height: 1.75rem;
}

.AI-hidden {
    display: none;
}

@media (min-width: 768px) {
    #AI-chatPopup { right: 2rem; }
    #AI-chatToggleButton { right: 2rem; }
}
@media (min-width: 1024px) {
    #AI-chatPopup { right: 3rem; }
    #AI-chatToggleButton { right: 3rem; }
}